<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>
        My Name is Heading 1
    </h1>
    <form action="/getname" ,method='get'>
        <textarea name='textarea' ,namestyle="margin: 0px , width:721px , height:93px" spellcheck="false"
            data-ms-editor="true" style="width: 875px; height: 173px;"></textarea><br>
        <input type="checkbox" name='removepunc'>Remove Punctuations<br>
        <button type="submit">Analyze text</button>
    </form>
</body>

</html>